# Core functionality - changes here should be rare!
/src/app.py                   @trknowhereit
/src/backend/database.py      @trknowhereit
/src/backend/routers/auth.py  @trknowhereit

# The frontend will need refactored soon to be more object oriented.
/src/static/   @trknowhereit
